<div class="container">
  <form class="form-container" [formGroup]="travelForm" (ngSubmit)="onSubmit()">
    
    <div class="form-control w50">
      <label>Minimum Price</label>
      <div>
        <input type="text" formControlName="minPrice" />
      </div>
    </div>
    <div class="form-control w50">
      <label>Maximum Price</label>
      <div>
        <input type="text" formControlName="maxPrice" />
      </div>
    </div>
    <button class="reset" (click) ="Reset()">Reset</button>
  
    <button type="submit" [disabled]="!travelForm.valid" (click) ="Apply()">Apply</button>
  </form>
  
</div>

  